/* Reset */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-x: hidden;
    top: 0;
}

body {
    background: rgb(0, 34, 68);
    background: linear-gradient(90deg, rgba(0, 34, 68, 1) 0%, rgba(3, 68, 148, 1) 100%);
}

a {
    text-decoration: none;
    color: rgb(10, 108, 255);
}

header {
    margin-top: 15px;
}

.list-nav a {
    text-decoration: none;
    color: #fff;
}

.list-nav a:hover {
    background-color: #fff;
    color: rgb(0, 34, 68);
    transition: .4s;
}