/* Reset */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-x: hidden;
    top: 0;
}

body {
    background: rgb(0, 34, 68);
    background: linear-gradient(90deg, rgba(0, 34, 68, 1) 0%, rgba(3, 68, 148, 1) 100%);
}

.navbar {
    width: 100%;
    background-color: rgb(113, 118, 255);
    padding: 1px;
    min-height: 70px;
}

.navbar-toggler {
    background: rgb(231, 144, 13);
    border: none;
    outline: none;
}

.navbar-expand-md {
    padding-right: 2vh;
}

.navbar-collapse {
    flex-direction: row-reverse;
    flex-grow: 0;
}

.nav-link {
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    position: relative;
    color: #000;
    transition: all .4s;
}

.nav-link:hover {
    background: rgb(0, 34, 68);
    color: #fff;
}

button {
    padding: 1.2rem 5rem;
}

.proyectos-contenedor {
    margin: 80px 2vh 0;
}